.users {
  display: flex;
  justify-content: center;
  &_text {
    margin-top: 13px;
    font-weight: 600;
    font-size: 16px;
  }
  &_input {
    width: 240px;
    height: 46px;
    border-radius: 8px;
    border: solid 1.5px rgba(233, 236, 239, 1);
    margin-top: 22px;
    margin-bottom: 22px;
    padding-left: 24px;
    &::placeholder {
      color: rgba(118, 120, 125, 1);
    }
  }
  &_item {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &_itemActive {
    background-color: rgba(224, 224, 224, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &_notActive {
    background-color: rgba(255, 255, 255, 1);
  }
  &_content {
    margin-bottom: 10px;
  }

  &_itemInner {
    display: flex;
    flex-direction: row;
    border: solid 1.5px rgba(233, 236, 239, 1);
    border-radius: 10px;
    margin-top: 18px;
  }
  &_name {
    font-weight: 600;
    margin: 15px 0px 5px 15px;
    flex-grow: 1;
  }
  &_email {
    margin: 5px 0px 5px 15px;
  }
}
.img {
  background-image: url("./img.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: solid 1.5px rgba(233, 236, 239, 1);
  background-color: rgba(255, 255, 255, 1);
}
