.users {
  display: flex;
  justify-content: center;

  &_itemInner {
    margin-top: 18px;
  }
  &_text {
    margin-top: 13px;
    font-weight: 600;
    font-size: 16px;
  }
  &_input {
    width: 240px;
    height: 46px;
    border-radius: 8px;
    border: solid 1.5px rgba(233, 236, 239, 1);
    margin-top: 22px;
    margin-bottom: 22px;
    &::placeholder {
      color: rgba(118, 120, 125, 1);
    }
  }
  &_item {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &_itemActive {
    background-color: rgba(224, 224, 224, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &_content {
    margin-bottom: 10px;
  }
  &_itemInner {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 4fr 4fr;
    border: solid 1.5px rgba(233, 236, 239, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    width: 240px;
    height: 70px;
  }
  &_name {
    font-weight: 600;
    margin: 10px 0px 5px 10px;
  }
  &_email {
    margin: 10px 0px 5px 10px;
  }
}
