.appContainer {
  display: grid;
  grid-template-rows: 115px 1fr 58px;
  grid-template-columns: 50px 1fr 50px;
  height: 100vh;
  &_inner {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  &_header {
    display: flex;
    justify-content: space-between;
    & h3 {
      font-size: 32px;
      font-weight: 700;
      color: rgba(227, 31, 36, 1);
      margin-bottom: 44px;
    }
    & p {
      font-size: 16px;
      margin-bottom: 44px;
    }
  }
  &_content {
    display: grid;
    grid-template-columns: 23% 77%;
    min-height: 628px;
    border-radius: 10px;
    border: solid 1.5px rgba(233, 236, 239, 1);
    background-color: rgba(253, 253, 253, 1);
  }
}
.userCart {
  border-right: solid 1.5px rgba(233, 236, 239, 1);
}
